@import url('https://fonts.googleapis.com/css2?family=Playball&family=Sen&display=swap');

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: 'Sen', sans-serif;
  letter-spacing: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1,
h3 {
  font-family: 'Playball', cursive;
}

.container {
  width: 480px;
  height: 630px;
  background: rgba(245, 245, 245, 0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 30px;
  box-shadow: 0 5px 30px 10px rgba(0, 0, 0, 0.4);
}

form {
  width: 90%;
}

.form-group {
  height: 65px;
}

label {
  position: relative;
  bottom: 3px;
}

input {
  width: 100%;
  height: 34px;
  padding: 5px;
  border: 1px solid #000;
  border-radius: 7px;
  outline: none;
  box-sizing: border-box;
  transition: all 0.3s;
}

input:valid {
  border: 1px solid #28AE89;
}

input:invalid {
  border: 2px solid #FF0000;
}

button {
  cursor: pointer;
  color: #fff;
  background: #74092d;
  border: none;
  border-radius: 5px;
  height: 50px;
  width: 100%;
  font-family: 'Sen', sans-serif;
  font-size: 20px;
  letter-spacing: 2px;
  margin-top: 5px;
}

button:hover {
  filter: brightness(170%);
}

button:focus {
  outline: none;
}

.message-container {
  border: 2px solid #000;
  border-radius: 5px;
  width: 90%;
  margin-top: 15px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  color: #000;
}